<p id="notice"><%= notice %></p>

<h1>P Languages</h1>

<%= form_tag p_languages_upload_path do %>
    <%= submit_tag "Import Languages" %>
  <% end %>

  <%= form_tag p_languages_destroy_all_path do %>
    <%= submit_tag "Delete All Languages" %>
  <% end %>

<table>
  <thead>
    <tr>
      <th>SN</th>
      <th>Name</th>
      <th>Wiki link</th>
      <th colspan="3"></th>
    </tr>
  </thead>
    <div id="tableBody">
      
    </div>
  </tbody>
</table>

<br>

<%= link_to 'New P Language', new_p_language_path %>

<script>
  function getPLanguages() {
    $.ajax('/p_languages.json')
      .done(function (data) {
        console.log(data[0])
        data.forEach(function(item, index) {
          $("#tableBody").append('<tr>')
          $("#tableBody").append(`<td>${index + 1}</td>`)
          $("#tableBody").append(`<td>${item.name}</td>`)
          $("#tableBody").append(`<td>${item.wiki_link}</td>`)
          $("#tableBody").append('</tr>')
        }) 
      })
  }

  getPLanguages()
</script>
